{% extends 'base.html.twig' %}
{% block title %}
	Nirron - Error
{% endblock %}
{% block body %}

	<body class="h-100">
		<div class="authincation h-100">
			<div class="container h-100">
				<div class="row justify-content-center h-100 align-items-center">
					<div class="col-md-5">
						<div class="form-input-content text-center error-page">
							<h1 class="error-text font-weight-bold">500</h1>
							<h4>
								<i class="fa fa-times-circle text-danger"></i>
								Internal Server Error</h4>
							<p>Você não tem permissão para ver esses recursos.</p>
							<div>
								<a class="btn btn-primary" href="{{path('app_login_success')}}">Voltar para Home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

{% endblock %}
